<%- include ('../partials/header.ejs') %>

        
    <h1><%-  %></h1>

    <section>
    <div class="container">
    <br>

     <div class="alert alert-primary text-center" role="alert">
        Welcome to the DreamSpace By Mia
    </div>
    <br>
    <h3 style="text-align: center;">This is my Shop</h3>

    
    <p style="text-align: center;">Hi, I’m Mia—a storyteller, dreamer, and creator of this space.
         I blend scenic escapes with soulful reflections
          to inspire connection and creativity.</p>
</div>

</section>

<br><br>
    <section>
        <div class="container">
            <div class="row" id="product-list">

<!-- for the search result -->
                <% for (product of products) { %>
                    <div class="col-md-3">
                        <div class="card card-spacer">
                            <img class="card-img-top productImage" src="data:image/png;base64, <%- product.image %>" alt="Card image cap">
                            <div class="card-body text-center">
                                <h5 class="card-title text-center"><%-product.name %></h5>
                                <p class="card-text text-center"><%-product.description %></p>
                                <p class="card-title text-center text-muted">Rs <%-product.price %> </p>
                                <a class="btn btn-success myButton" href="/cart/add?id=<%- product.id %>&qty=1">Add to cart</a>
                                <!-- <p class="card-text"><%-product.category %></p> -->
                            </div>
                        </div>
                    </div>      
                <% } %>


            </div>

        </div>
       
    </section>
    <br><br> <br>


    <script>
//allow users to search for any items 
        searchKeyword = document.getElementById('SearchKeyword');

        searchKeyword.addEventListener('keyup', function(event) {
            event.preventDefault();
        
            keyword = searchKeyword.value;
            
            fetch('shop/search?keyword=' + keyword)//to check if it should be /shop
                .then(response => response.text())
                .then(data => {
                    productList = document.getElementById('product-list');
                    // Clear the current product list
                    productList.innerHTML = '';
                    // Update the product list with the new data
                    // document.getElementById('product-list').innerHTML = data;
                    productList.innerHTML = data;
                })
                .catch(error => console.error('Error:', error));
        });

    </script>

   
 <a href="/">Go back home</a>




<%- include ('../partials/footer.ejs') %>